.container-list {
  margin: 10px 0 0;
}
.addon-list {
  list-style: none;
  margin: -10px;
}
.addon-list > li {
  padding: 20px 15px;
}
.addon-list > li:first-child {
  padding-top: 0;
}
.addon-list > li:nth-child(even) {
  background-color: #f1f1f1;
}
.addon-list .mkt-addon-name {
  color: #222;
  font-size: 20px;
  font-weight: 200;
  line-height: 21px;
}
.addon-list .addon-install-btn {
  display: inline-block;
  font-size: 12px;
  height: 28px;
  width: auto;
}
.addon-promo {
  background: -webkit-linear-gradient(bottom, #5f187a, #022052);
  background: linear-gradient(to top, #5f187a, #022052);
  color: #fff;
  margin: 0 0 20px 0;
  padding: 25px 15px 20px;
  text-align: center;
}
.addon-promo h1 {
  font-weight: 500;
  line-height: 1.6;
}
.addon-promo p {
  line-height: 1.3;
}
.addon-promo img {
  display: inline-block;
  height: 55px;
  width: 65px;
  margin: 0 0 10px;
}
