.container-detail {
  background-color: #fff;
  margin: 10px 0 0;
}
.container-detail .placeholder > * {
  padding: 20px 15px;
}
.container-detail .segment {
  border-top: 1px solid #f1f1f1;
}
.container-detail .prose h3 {
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}
.container-detail .mkt-addon-name {
  color: #222;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
}
.addon-install-btn {
  border-radius: 5px;
  display: block;
  width: 100%;
}
.addon-tile-info {
  padding: 0 0 10px;
}
.addon-tile-info .mkt-product-author {
  font-size: 13px;
  margin: 0;
}
.addon-meta p {
  color: #797979;
  line-height: 1.6;
}
.addon-tile {
  display: block;
}
a.addon-tile:hover {
  text-decoration: none;
}
