.category .app-list {
  margin-top: 0;
}
.category .app-list-filters,
.category .app-list-filters-sort {
  display: block;
}
.category .app-list-filters {
  padding-bottom: 0;
}
@media (min-width: 800px) {
  .category .app-list-filters {
    padding-bottom: 15px;
  }
}
@media (min-width: 700px) {
  .category .app-list {
    margin-top: 30px;
  }
  .mobile-cat-header {
    display: none;
  }
  .desktop-cat-header {
    display: block;
  }
  .subheader.cat-header h1 {
    margin: 0;
    padding: 20px 0;
  }
  .cat-header .cat-icon:before {
    background-color: #4cb1ff;
    background-size: 180px auto;
    border-radius: 50px;
    height: 75px;
    margin: 0;
    position: absolute;
    top: 24px;
    width: 75px;
  }
  [dir="ltr"] .cat-header .cat-icon:before {
    left: 24px;
  }
  [dir="rtl"] .cat-header .cat-icon:before {
    right: 24px;
  }
  .category-header-desktop {
    margin: 0 auto 20px;
    width: 1070px;
  }
  .category-header {
    background: none;
    padding: 0;
    margin: 0 0 15px;
    text-align: left;
    width: auto;
  }
  .category-header h3 {
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 300;
    text-shadow: 0 1px 0 #f1f1f1;
  }
}
@media (min-width: 1050px) {
  .cat-header .cat-icon:before {
    margin-left: 0;
  }
}
.subheader.cat-header h1 {
  position: relative;
}
.category-header-icon:before {
  background: url("../img/pretty/categories-sprite-alt.svg") no-repeat;
  background-size: 120px 168px;
  height: 24px;
  width: 24px;
  content: '';
  display: inline-block;
  margin: -6px 10px;
}
[dir="ltr"] .category-header-icon:before {
  margin-left: 0;
}
[dir="rtl"] .category-header-icon:before {
  margin-right: 0;
}
.cat-entertainment:before {
  background-position: -24px 0px;
}
.cat-books-comics:before {
  background-position: -48px 0px;
}
.cat-business:before {
  background-position: -72px 0px;
}
.cat-productivity:before {
  background-position: 0px -24px;
}
.cat-education:before {
  background-position: -72px -24px;
}
.cat-food-drink:before {
  background-position: -96px -24px;
}
.cat-games:before {
  background-position: 0px -48px;
}
.cat-health-fitness:before {
  background-position: -48px -48px;
}
.cat-humor:before {
  background-position: -96px -48px;
}
.cat-internet:before {
  background-position: 0px -72px;
}
.cat-kids:before {
  background-position: -24px -72px;
}
.cat-lifestyle:before {
  background-position: -48px -72px;
}
.cat-maps-navigation:before {
  background-position: -96px -72px;
}
.cat-music:before {
  background-position: -24px -96px;
}
.cat-news:before {
  background-position: -48px -96px;
}
.cat-personalization:before {
  background-position: -72px -96px;
}
.cat-photo-video:before {
  background-position: -96px -96px;
}
.cat-reference:before {
  background-position: -24px -120px;
}
.cat-science-tech:before {
  background-position: -48px -120px;
}
.cat-shopping:before {
  background-position: -72px -120px;
}
.cat-sports:before {
  background-position: -96px -120px;
}
.cat-social:before {
  background-position: 0px -144px;
}
.cat-utilities:before {
  background-position: -24px -144px;
}
.cat-travel:before {
  background-position: -48px -144px;
}
.cat-weather:before {
  background-position: -72px -144px;
}
@media (min-width: 700px) {
  .category-header-icon.cat-entertainment:after {
    background-position: -48px 0px;
  }
  .category-header-icon.cat-books-comics:after {
    background-position: -96px 0px;
  }
  .category-header-icon.cat-business:after {
    background-position: -144px 0px;
  }
  .category-header-icon.cat-productivity:after {
    background-position: 0px -48px;
  }
  .category-header-icon.cat-education:after {
    background-position: -144px -48px;
  }
  .category-header-icon.cat-food-drink:after {
    background-position: -192px -48px;
  }
  .category-header-icon.cat-games:after {
    background-position: 0px -96px;
  }
  .category-header-icon.cat-health-fitness:after {
    background-position: -96px -96px;
  }
  .category-header-icon.cat-humor:after {
    background-position: -192px -96px;
  }
  .category-header-icon.cat-internet:after {
    background-position: 0px -144px;
  }
  .category-header-icon.cat-kids:after {
    background-position: -48px -144px;
  }
  .category-header-icon.cat-lifestyle:after {
    background-position: -96px -144px;
  }
  .category-header-icon.cat-maps-navigation:after {
    background-position: -192px -144px;
  }
  .category-header-icon.cat-music:after {
    background-position: -48px -192px;
  }
  .category-header-icon.cat-news:after {
    background-position: -96px -192px;
  }
  .category-header-icon.cat-personalization:after {
    background-position: -144px -192px;
  }
  .category-header-icon.cat-photo-video:after {
    background-position: -192px -192px;
  }
  .category-header-icon.cat-reference:after {
    background-position: -48px -240px;
  }
  .category-header-icon.cat-science-tech:after {
    background-position: -96px -240px;
  }
  .category-header-icon.cat-shopping:after {
    background-position: -144px -240px;
  }
  .category-header-icon.cat-sports:after {
    background-position: -192px -240px;
  }
  .category-header-icon.cat-social:after {
    background-position: 0px -288px;
  }
  .category-header-icon.cat-utilities:after {
    background-position: -48px -288px;
  }
  .category-header-icon.cat-travel:after {
    background-position: -96px -288px;
  }
  .category-header-icon.cat-weather:after {
    background-position: -144px -288px;
  }
  .category-header-icon:after {
    background: url("../img/pretty/categories-sprite.svg") no-repeat;
    background-size: 240px 336px;
    height: 48px;
    width: 48px;
    content: '';
    display: inline-block;
    margin: 0;
    opacity: 1;
    position: absolute;
    top: 36px;
  }
  [dir="ltr"] .category-header-icon:after {
    left: 36px;
  }
  [dir="rtl"] .category-header-icon:after {
    right: 36px;
  }
  .category-header-icon:before {
    background: #4cb1ff;
    border-radius: 50%;
    content: '';
    display: inline-block;
    opacity: 1;
  }
  .subheader.cat-header h1 {
    line-height: 24px;
    margin: 0;
    min-height: 120px;
    padding: 48px 20px;
  }
  [dir="ltr"] .subheader.cat-header h1 {
    padding-left: 120px;
  }
  [dir="rtl"] .subheader.cat-header h1 {
    padding-right: 120px;
  }
  .cat-header .cat-icon:before {
    display: inline-block;
    height: 72px;
    margin: 0;
    width: 72px;
  }
}
