[data-page-type~="recommended"] .app-list-filters-content-wrapper,
[data-page-type~="purchases"] .app-list-filters-content-wrapper {
  display: none;
}
.app-list-filters-content-wrapper {
  display: block;
  width: 100%;
}
.app-list-filters-content-select {
  border-bottom: 1px solid #f1f1f1;
  text-transform: none;
  padding: 0 10px 15px;
  width: 100%;
}
.content-filter {
  width: 100%;
}
.content-filter mkt-selected {
  background: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  color: #1a1a1a;
  font-weight: 400;
  height: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}
.content-filter mkt-selected:after {
  color: #4cb1ff;
  position: absolute;
  top: 6px;
  -webkit-transform-origin: center 7px;
      -ms-transform-origin: center 7px;
          transform-origin: center 7px;
}
[dir="ltr"] .content-filter mkt-selected:after {
  right: 15px;
}
[dir="rtl"] .content-filter mkt-selected:after {
  left: 15px;
}
.content-filter mkt-option {
  background: #fff;
  border: 1px solid #cbcbcb;
  border-top: 0;
  color: #1a1a1a;
  font-weight: 400;
  height: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
[dir="ltr"] .content-filter mkt-option {
  padding-left: 15px;
}
[dir="rtl"] .content-filter mkt-option {
  padding-right: 15px;
}
.content-filter mkt-option[data-mkt-option--index="0"] {
  border-top: 1px solid #cbcbcb;
}
.content-filter mkt-option:hover {
  background: #4cb1ff;
  color: #fff;
  text-decoration: none;
}
