/*
    Marketplace Select.

    Prominently used by the Platform Selector.
*/
mkt-select {
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 40;
}
mkt-option,
mkt-selected {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  width: 100%;
}
mkt-selected {
  background: #006dbf;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
mkt-selected p {
  padding: 0 15px;
  text-align: center;
}
mkt-selected:after {
  bottom: 1px;
  content: '\25BC';
  display: inline-block;
  font-size: 10px;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s linear;
          transition: transform 0.2s linear;
}
[dir="ltr"] mkt-selected:after {
  margin-left: 5px;
  right: 15px;
}
[dir="rtl"] mkt-selected:after {
  left: 15px;
  margin-right: 5px;
}
mkt-optgroup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s linear 0s;
          transition: max-height 0.5s linear 0s;
}
mkt-option {
  background: #197cc6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
mkt-option:hover {
  text-decoration: underline;
}
.mkt-option--center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
mkt-option[selected] {
  display: none;
}
[data-mkt-option--index="0"] {
  background: #197cc6;
}
[data-mkt-option--index="1"] {
  background: #4c99d1;
}
[data-mkt-option--index="2"] {
  background: #7fb5dd;
}
[data-mkt-option--index="3"] {
  background: #a5cbe7;
}
.mkt-select--visible mkt-optgroup {
  max-height: 1000px;
}
.mkt-select--visible mkt-selected:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
