mkt-category-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  width: 100%;
}
@media (min-width: 800px) {
  mkt-category-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
mkt-category-item {
  width: 100%;
}
@media (min-width: 800px) {
  mkt-category-item {
    margin: 8px;
    width: auto;
  }
}
.mkt-category-link {
  border: 2px solid rgba(255,255,255,0.2);
  border-radius: 5px;
  color: #fff;
  font-weight: 300;
  display: inline-block;
  line-height: 24px;
  margin: 5px 0;
  padding: 10px;
  -webkit-transition: none;
          transition: none;
}
@media (min-width: 800px) {
  .mkt-category-link {
    margin: 0;
  }
}
.mkt-category-link:after {
  background: url("../img/pretty/categories-sprite-alt.svg") no-repeat;
  background-size: 120px 168px;
  height: 24px;
  width: 24px;
  content: '';
  display: inline-block;
  height: 0;
  opacity: 0;
  width: 0;
}
.mkt-category-link:before {
  background: url("../img/pretty/categories-sprite.svg") no-repeat;
  background-size: 120px 168px;
  height: 24px;
  width: 24px;
  content: '';
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
[dir="rtl"] .mkt-category-link:before {
  margin: 0 0 0 10px;
}
.mkt-category-link:hover:before {
  background: url("../img/pretty/categories-sprite-alt.svg") no-repeat;
  background-size: 120px 168px;
  height: 24px;
  width: 24px;
}
.mkt-category-link:hover {
  background-color: #fff;
  border-color: #fff;
  color: #1a95fc;
  text-decoration: none;
}
.mkt-category-link--active {
  background-color: #fff;
  color: #1a95fc;
}
.mkt-category-link--active:before {
  background: url("../img/pretty/categories-sprite-alt.svg") no-repeat;
  background-size: 120px 168px;
  height: 24px;
  width: 24px;
}
mkt-header-child:hover .mkt-category-link--active,
mkt-category-list:hover .mkt-category-link--active {
  background-color: transparent;
  color: #fff;
}
mkt-header-child:hover .mkt-category-link--active:before,
mkt-category-list:hover .mkt-category-link--active:before {
  background: url("../img/pretty/categories-sprite.svg") no-repeat;
  background-size: 120px 168px;
  height: 24px;
  width: 24px;
}
mkt-header-child:hover .mkt-category-link--active:hover,
mkt-category-list:hover .mkt-category-link--active:hover {
  background-color: #fff;
  color: #1a95fc;
}
mkt-header-child:hover .mkt-category-link--active:hover:before,
mkt-category-list:hover .mkt-category-link--active:hover:before {
  background: url("../img/pretty/categories-sprite-alt.svg") no-repeat;
  background-size: 120px 168px;
  height: 24px;
  width: 24px;
}
[data-mkt-category-slug="entertainment"] .mkt-category-link:before,
[data-mkt-category-slug="entertainment"] .mkt-category-link:hover:before,
[data-mkt-category-slug="entertainment"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -24px 0px;
}
mkt-category-list:hover [data-mkt-category-slug="entertainment"] .mkt-category-link--active:before {
  background-position: -24px 0px;
}
[data-mkt-category-slug="books-comics"] .mkt-category-link:before,
[data-mkt-category-slug="books-comics"] .mkt-category-link:hover:before,
[data-mkt-category-slug="books-comics"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -48px 0px;
}
mkt-category-list:hover [data-mkt-category-slug="books-comics"] .mkt-category-link--active:before {
  background-position: -48px 0px;
}
[data-mkt-category-slug="business"] .mkt-category-link:before,
[data-mkt-category-slug="business"] .mkt-category-link:hover:before,
[data-mkt-category-slug="business"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -72px 0px;
}
mkt-category-list:hover [data-mkt-category-slug="business"] .mkt-category-link--active:before {
  background-position: -72px 0px;
}
[data-mkt-category-slug="productivity"] .mkt-category-link:before,
[data-mkt-category-slug="productivity"] .mkt-category-link:hover:before,
[data-mkt-category-slug="productivity"] .mkt-category-link.mkt-category-link--active:before {
  background-position: 0px -24px;
}
mkt-category-list:hover [data-mkt-category-slug="productivity"] .mkt-category-link--active:before {
  background-position: 0px -24px;
}
[data-mkt-category-slug="education"] .mkt-category-link:before,
[data-mkt-category-slug="education"] .mkt-category-link:hover:before,
[data-mkt-category-slug="education"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -72px -24px;
}
mkt-category-list:hover [data-mkt-category-slug="education"] .mkt-category-link--active:before {
  background-position: -72px -24px;
}
[data-mkt-category-slug="food-drink"] .mkt-category-link:before,
[data-mkt-category-slug="food-drink"] .mkt-category-link:hover:before,
[data-mkt-category-slug="food-drink"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -96px -24px;
}
mkt-category-list:hover [data-mkt-category-slug="food-drink"] .mkt-category-link--active:before {
  background-position: -96px -24px;
}
[data-mkt-category-slug="games"] .mkt-category-link:before,
[data-mkt-category-slug="games"] .mkt-category-link:hover:before,
[data-mkt-category-slug="games"] .mkt-category-link.mkt-category-link--active:before {
  background-position: 0px -48px;
}
mkt-category-list:hover [data-mkt-category-slug="games"] .mkt-category-link--active:before {
  background-position: 0px -48px;
}
[data-mkt-category-slug="health-fitness"] .mkt-category-link:before,
[data-mkt-category-slug="health-fitness"] .mkt-category-link:hover:before,
[data-mkt-category-slug="health-fitness"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -48px -48px;
}
mkt-category-list:hover [data-mkt-category-slug="health-fitness"] .mkt-category-link--active:before {
  background-position: -48px -48px;
}
[data-mkt-category-slug="humor"] .mkt-category-link:before,
[data-mkt-category-slug="humor"] .mkt-category-link:hover:before,
[data-mkt-category-slug="humor"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -96px -48px;
}
mkt-category-list:hover [data-mkt-category-slug="humor"] .mkt-category-link--active:before {
  background-position: -96px -48px;
}
[data-mkt-category-slug="internet"] .mkt-category-link:before,
[data-mkt-category-slug="internet"] .mkt-category-link:hover:before,
[data-mkt-category-slug="internet"] .mkt-category-link.mkt-category-link--active:before {
  background-position: 0px -72px;
}
mkt-category-list:hover [data-mkt-category-slug="internet"] .mkt-category-link--active:before {
  background-position: 0px -72px;
}
[data-mkt-category-slug="kids"] .mkt-category-link:before,
[data-mkt-category-slug="kids"] .mkt-category-link:hover:before,
[data-mkt-category-slug="kids"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -24px -72px;
}
mkt-category-list:hover [data-mkt-category-slug="kids"] .mkt-category-link--active:before {
  background-position: -24px -72px;
}
[data-mkt-category-slug="lifestyle"] .mkt-category-link:before,
[data-mkt-category-slug="lifestyle"] .mkt-category-link:hover:before,
[data-mkt-category-slug="lifestyle"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -48px -72px;
}
mkt-category-list:hover [data-mkt-category-slug="lifestyle"] .mkt-category-link--active:before {
  background-position: -48px -72px;
}
[data-mkt-category-slug="maps-navigation"] .mkt-category-link:before,
[data-mkt-category-slug="maps-navigation"] .mkt-category-link:hover:before,
[data-mkt-category-slug="maps-navigation"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -96px -72px;
}
mkt-category-list:hover [data-mkt-category-slug="maps-navigation"] .mkt-category-link--active:before {
  background-position: -96px -72px;
}
[data-mkt-category-slug="music"] .mkt-category-link:before,
[data-mkt-category-slug="music"] .mkt-category-link:hover:before,
[data-mkt-category-slug="music"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -24px -96px;
}
mkt-category-list:hover [data-mkt-category-slug="music"] .mkt-category-link--active:before {
  background-position: -24px -96px;
}
[data-mkt-category-slug="news"] .mkt-category-link:before,
[data-mkt-category-slug="news"] .mkt-category-link:hover:before,
[data-mkt-category-slug="news"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -48px -96px;
}
mkt-category-list:hover [data-mkt-category-slug="news"] .mkt-category-link--active:before {
  background-position: -48px -96px;
}
[data-mkt-category-slug="personalization"] .mkt-category-link:before,
[data-mkt-category-slug="personalization"] .mkt-category-link:hover:before,
[data-mkt-category-slug="personalization"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -72px -96px;
}
mkt-category-list:hover [data-mkt-category-slug="personalization"] .mkt-category-link--active:before {
  background-position: -72px -96px;
}
[data-mkt-category-slug="photo-video"] .mkt-category-link:before,
[data-mkt-category-slug="photo-video"] .mkt-category-link:hover:before,
[data-mkt-category-slug="photo-video"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -96px -96px;
}
mkt-category-list:hover [data-mkt-category-slug="photo-video"] .mkt-category-link--active:before {
  background-position: -96px -96px;
}
[data-mkt-category-slug="reference"] .mkt-category-link:before,
[data-mkt-category-slug="reference"] .mkt-category-link:hover:before,
[data-mkt-category-slug="reference"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -24px -120px;
}
mkt-category-list:hover [data-mkt-category-slug="reference"] .mkt-category-link--active:before {
  background-position: -24px -120px;
}
[data-mkt-category-slug="science-tech"] .mkt-category-link:before,
[data-mkt-category-slug="science-tech"] .mkt-category-link:hover:before,
[data-mkt-category-slug="science-tech"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -48px -120px;
}
mkt-category-list:hover [data-mkt-category-slug="science-tech"] .mkt-category-link--active:before {
  background-position: -48px -120px;
}
[data-mkt-category-slug="shopping"] .mkt-category-link:before,
[data-mkt-category-slug="shopping"] .mkt-category-link:hover:before,
[data-mkt-category-slug="shopping"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -72px -120px;
}
mkt-category-list:hover [data-mkt-category-slug="shopping"] .mkt-category-link--active:before {
  background-position: -72px -120px;
}
[data-mkt-category-slug="sports"] .mkt-category-link:before,
[data-mkt-category-slug="sports"] .mkt-category-link:hover:before,
[data-mkt-category-slug="sports"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -96px -120px;
}
mkt-category-list:hover [data-mkt-category-slug="sports"] .mkt-category-link--active:before {
  background-position: -96px -120px;
}
[data-mkt-category-slug="social"] .mkt-category-link:before,
[data-mkt-category-slug="social"] .mkt-category-link:hover:before,
[data-mkt-category-slug="social"] .mkt-category-link.mkt-category-link--active:before {
  background-position: 0px -144px;
}
mkt-category-list:hover [data-mkt-category-slug="social"] .mkt-category-link--active:before {
  background-position: 0px -144px;
}
[data-mkt-category-slug="utilities"] .mkt-category-link:before,
[data-mkt-category-slug="utilities"] .mkt-category-link:hover:before,
[data-mkt-category-slug="utilities"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -24px -144px;
}
mkt-category-list:hover [data-mkt-category-slug="utilities"] .mkt-category-link--active:before {
  background-position: -24px -144px;
}
[data-mkt-category-slug="travel"] .mkt-category-link:before,
[data-mkt-category-slug="travel"] .mkt-category-link:hover:before,
[data-mkt-category-slug="travel"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -48px -144px;
}
mkt-category-list:hover [data-mkt-category-slug="travel"] .mkt-category-link--active:before {
  background-position: -48px -144px;
}
[data-mkt-category-slug="weather"] .mkt-category-link:before,
[data-mkt-category-slug="weather"] .mkt-category-link:hover:before,
[data-mkt-category-slug="weather"] .mkt-category-link.mkt-category-link--active:before {
  background-position: -72px -144px;
}
mkt-category-list:hover [data-mkt-category-slug="weather"] .mkt-category-link--active:before {
  background-position: -72px -144px;
}
