.feedback .secondary-header {
  display: none;
}
.feedback .support-list {
  list-style: none;
  padding: 5px 10px 10px;
}
.feedback .support-list li {
  margin-top: 10px;
}
.feedback .support-list .button {
  display: block;
}
@media (min-width: 700px) {
  .feedback .secondary-header {
    display: block;
  }
  .feedback .support-list {
    display: none;
  }
}
