.potato-captcha {
  display: none;
}
button,
input,
select,
textarea {
  font: 100% "Fira Sans OT", "Fira Sans", FiraSansWeb, sans-serif;
  margin: 0;
  max-width: 100%;
  vertical-align: middle;
}
button,
input {
  line-height: normal;
}
label,
button,
input[type=button],
input[type=submit] {
  cursor: pointer;
}
label {
  display: block;
  font-weight: 400;
}
input::-webkit-input-placeholder {
  color: #888;
}
input:-moz-placeholder {
  color: #888;
  text-overflow: ellipsis;
}
input::-moz-placeholder {
  text-overflow: ellipsis;
}
input[placeholder] {
  text-overflow: ellipsis;
}
input[placeholder]:-moz-placeholder:focus {
  color: transparent !important;
}
input[placeholder]:focus::-moz-placeholder {
  color: transparent !important;
}
input[placeholder]:focus::-webkit-input-placeholder {
  color: transparent !important;
}
input[type=email],
input[type=text],
input[type=url],
select,
textarea {
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 #fff, 0 1px 1px #e7e7e7 inset;
  color: #5f5f5f;
  font: 400 15px/28px "Fira Sans OT", "Fira Sans", FiraSansWeb, sans-serif;
  padding: 5px;
  text-decoration: none;
}
input[type=email][disabled],
input[type=text][disabled],
input[type=url][disabled],
select[disabled],
textarea[disabled],
input[type=email][readonly],
input[type=text][readonly],
input[type=url][readonly],
select[readonly],
textarea[readonly] {
  background: #e7e7e7;
  color: #a7a7a7;
  cursor: not-allowed;
}
input[type=email]:focus,
input[type=text]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
  border-color: #0099d0;
  box-shadow: 0 0 8px #0099d0;
}
select {
  padding: 0;
}
textarea {
  display: block;
  overflow: auto;
  vertical-align: top;
}
.only-logged-in.button,
.logged-in .only-logged-out.button {
  display: none;
}
.only-logged-out.button,
.logged-in .only-logged-in.button {
  display: block;
}
.logged-in .only-logged-in.inline {
  display: inline-block;
}
