mkt-header-child.header--search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.header--search-toggle {
  background: url("../img/nav/search.svg") no-repeat 0 0;
  background-size: 40px 40px;
  display: inline-block;
  height: 40px;
  overflow: hidden;
  text-indent: -999em;
  width: 40px;
  background-size: 40px 140px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.header--search-toggle.mkt-header-child--visible {
  background-position: 0 -100px;
}
.header--search {
  padding: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header--search-form {
  height: 100%;
  width: 100%;
}
.header--search-input {
  background: transparent;
}
