.header--settings-toggle {
  background: url("../img/nav/user.svg") no-repeat 0 0;
  background-size: 40px 40px;
  display: inline-block;
  height: 40px;
  overflow: hidden;
  text-indent: -999em;
  width: 40px;
  background-size: 40px 140px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  cursor: pointer;
  display: none;
  position: relative;
}
.header--settings-toggle.mkt-header-child--visible {
  background-position: 0 -100px;
}
.mkt-header--actions .register {
  margin-left: 20px;
}
body:not(.logged-in) .header--settings--logged-in {
  display: none;
}
.logged-in .header--settings--logged-out {
  display: none;
}
@media (min-width: 800px) {
  .header--settings-toggle {
    display: inline-block;
  }
}
