body.overlayed {
  overflow: hidden;
}
.cloak {
  background: rgba(0,0,0,0.75);
  color: #000;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  -webkit-transition: 0.5s opacity ease;
          transition: 0.5s opacity ease;
  width: 100%;
  z-index: 50;
}
.cloak.show {
  display: block;
  opacity: 1;
  pointer-events: auto;
}
.cloak.light {
  background: rgba(255,255,255,0.75);
}
.modal {
  background-color: #fff;
  border: 1px solid #9b9b9b;
  border-radius: 10px;
  display: none;
  left: 5%;
  position: fixed;
  top: 49px;
  width: 90%;
  z-index: 60;
}
.modal.show {
  display: block;
  padding: 15px;
}
.modal .btn-cancel {
  right: 0;
  top: -12px;
}
.modal textarea {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15) inset;
}
.modal.confirmation {
  background: rgba(0,0,0,0.85);
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  top: 102px;
}
.modal.confirmation .content {
  margin: 15px 0;
}
.modal button.alt {
  box-shadow: none;
}
@media (min-width: 1050px) {
  .modal {
    left: 50%;
    margin-left: -265px;
    top: 160px;
    width: 531px;
  }
  .modal h2 {
    color: #797979;
    font-size: 15px;
    font-weight: 500;
  }
  .modal .form-footer {
    text-align: right;
  }
  .modal .form-footer button {
    width: 60%;
  }
  .modal button {
    height: 48px;
    line-height: 48px;
  }
  .modal.confirmation {
    margin-left: -215px;
    width: 431px;
  }
}
