.newsletter-footer {
  background: #e0e0e0;
  display: none;
  padding: 20px;
}
.newsletter {
  position: relative;
  text-align: center;
}
.newsletter form,
.newsletter .success {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: 732px;
}
[dir="ltr"] .newsletter form,
[dir="ltr"] .newsletter .success {
  text-align: left;
}
[dir="rtl"] .newsletter form,
[dir="rtl"] .newsletter .success {
  text-align: right;
}
.newsletter .submitted-once input:invalid {
  box-shadow: 0px 0px 2px 2px #f54b3c;
}
.newsletter .processing-hidden {
  visibility: hidden;
}
.newsletter .success,
.newsletter .processing {
  display: none;
}
.newsletter .success p {
  margin-top: 5px;
  line-height: 1.3;
}
.newsletter .processing {
  height: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  top: calc(unquote('50% - 30px'));
  width: 100%;
}
.newsletter .spinner {
  display: inline-block;
  margin: 0;
}
.newsletter h3 {
  color: #1a1a1a;
  font-size: 20px;
  padding: 5px 0 20px;
}
.newsletter .privacy {
  clear: left;
  max-width: 450px;
}
.newsletter .privacy label {
  color: #000;
  display: inline;
  font-weight: 400;
}
.newsletter .privacy input {
  margin: 0;
}
.newsletter .error-message {
  background-color: #f54b3c;
  border: 1px solid #911307;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}
.newsletter .error-message:after {
  background-color: #f54b3c;
  border: 1px solid #911307;
  border-radius: 2px;
  border-width: 0 1px 1px 0;
  bottom: -6px;
  content: '';
  display: inline-block;
  height: 10px;
  position: absolute;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 10px;
}
[dir="ltr"] .newsletter .error-message:after {
  left: 10px;
}
[dir="rtl"] .newsletter .error-message:after {
  right: 10px;
}
.newsletter-signup-page {
  background: #fff;
  padding: 10px;
}
.newsletter-signup-page h3 {
  margin-bottom: 20px;
}
.newsletter-signup-page .newsletter-details {
  -webkit-transition: none;
          transition: none;
}
.newsletter-email-field,
.newsletter-select {
  background: #fff;
  height: 36px;
  padding: 5px 6px;
}
[dir="ltr"] .newsletter-email-field {
  margin-right: 5px;
}
[dir="rtl"] .newsletter-email-field {
  margin-left: 5px;
}
.expanding.newsletter-details {
  opacity: 0;
}
.newsletter-details {
  display: block;
  opacity: 1;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  width: 100%;
}
.expanded.newsletter-details {
  -webkit-transition: none;
          transition: none;
}
.newsletter-desktop {
  display: none;
}
.newsletter-email-field,
.newsletter-select,
.newsletter-signup-button,
.newsletter-cancel-button {
  width: 100%;
}
.newsletter-cancel-button,
.newsletter-signup-button {
  margin: 15px 0 0;
}
.newsletter-details {
  margin-top: 20px;
}
.newsletter-details input,
.newsletter-details select,
.newsletter-details button {
  margin: 0 20px 20px 0;
}
[dir="rtl"] .newsletter-details select {
  margin-right: 0;
}
@media (min-width: 1050px) {
  .newsletter-email-field,
  .newsletter-select {
    width: 350px;
  }
  [dir="rtl"] .newsletter-email-field {
    margin: 0;
  }
  [dir="rtl"] .newsletter-select {
    margin-right: 0;
  }
  .newsletter-details.collapsed,
  .newsletter-mobile {
    display: none;
  }
  .newsletter-desktop {
    display: inline-block;
  }
  .newsletter-signup-button,
  .newsletter-cancel-button {
    width: auto;
    margin: 0;
    border-radius: 5px;
  }
  .newsletter-footer {
    border-bottom: 1px solid #e5e4e5;
    border-top: 1px solid #e5e4e5;
    display: block;
  }
}
