.personalization {
  border-top: 1px solid #cbcbcb;
  margin: 0 10px;
  text-align: center;
  text-transform: uppercase;
}
.personalization ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1;
}
.personalization a {
  margin: 0;
  padding: 10px;
}
@media (min-width: 700px) {
  .personalization {
    border: 0;
    margin: -40px 0 0;
    padding: 0 0 48px 120px;
    position: relative;
  }
  .personalization ul {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .personalization li {
    border-right: 2px solid #ccc;
    margin-right: 10px;
    padding-right: 10px;
  }
  .personalization li:last-child {
    border: 0;
    margin: 0;
    padding: 0;
  }
  .personalization a {
    padding: 0;
  }
}
