.previews-expanded .previews-tray {
  display: block;
}
.previews-tray {
  background: #cbcbcb;
  display: none;
  height: 173px;
  overflow: hidden;
  position: relative;
  top: 20px;
}
.previews-tray ul {
  height: 150px;
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}
.previews-tray li {
  float: left;
  margin-left: 10px;
  text-align: center;
  width: 150px;
}
.previews-tray li:first-child {
  margin-left: 0;
}
.previews-tray .previews-thumbnail {
  display: block;
  outline: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}
.previews-tray img,
.previews-tray video {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.previews-slider {
  overflow: hidden;
  padding-top: 10px;
}
.previews-bars {
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  height: 3px;
  text-align: center;
  width: 100%;
}
.previews-bars b {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 3px;
  margin: 0;
}
.previews-bars b.current {
  background: #4cb1ff;
}
.previews-slider {
  position: relative;
}
.previews-slider .arrow-btn {
  display: block;
  margin-top: -10px;
  outline: 0;
  position: absolute;
  top: 50%;
  z-index: 16;
}
.previews-slider .arrow-btn-prev {
  left: 20px;
}
.previews-slider .arrow-btn-next {
  right: 20px;
}
[data-page-type~="detail"] .previews-tray {
  height: 173px;
  margin-left: -10px;
  position: relative;
  top: 0;
  width: calc(100% + 20px);
}
[dir="rtl"] [data-page-type~="detail"] .previews-tray {
  margin-right: -10px;
}
[data-page-type~="detail"] .previews-tray .previews-bars {
  margin-top: 10px;
}
.loading .previews-bars {
  display: none;
}
.previews-tray[data-previews-desktop] {
  display: none;
}
[data-page-type~="detail"] .previews-tray[data-previews-desktop] {
  height: 543px;
  margin: 0 auto;
  margin-left: 0;
}
[data-page-type~="detail"] .previews-tray[data-previews-desktop] .previews-content {
  height: 520px;
}
[data-page-type~="detail"] .previews-tray[data-previews-desktop] .previews-content li {
  height: 520px;
  width: 520px;
}
@media (min-width: 1050px) {
  [data-page-type~="detail"] .previews-tray:not([data-previews-desktop]) {
    display: none;
  }
  [data-page-type~="detail"] .previews-tray[data-previews-desktop] {
    display: block;
  }
}
