.reviews-wrapper h3 {
  margin: 24px 0 18px;
}
select[name=rating] {
  display: none;
}
.review {
  display: block;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}
.review .stars {
  position: absolute;
  top: 1px;
}
[dir="ltr"] .review .stars {
  right: 0;
}
[dir="rtl"] .review .stars {
  left: 0;
}
.review .timestamp {
  font-size: 12px;
}
.review .review-actions li,
.review time {
  font-size: 12px;
}
.review time {
  position: absolute;
}
[dir="ltr"] .review time {
  right: 0;
}
[dir="rtl"] .review time {
  left: 0;
}
.review ul {
  list-style: none;
}
.review li {
  display: inline-block;
}
.review li.hidden {
  display: none;
}
.review li:not(.hidden) + li:before,
.review li + li.hidden + li:before {
  color: #cbcbcb;
  content: "\00a0\00a0\2022\00a0\00a0";
}
.review-author {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 84px);
}
.review-previous-version {
  font-style: italic;
  margin: 3px 0 5px;
}
.review-body {
  margin-bottom: 10px;
  color: #1a1a1a;
  line-height: 22px;
  font-size: 15px;
  font-weight: 300;
}
.reviews .not-rated {
  color: #797979;
  font-weight: 400;
}
.reviews .full .button {
  display: block;
  margin-top: 24px;
}
.reviews {
  overflow: hidden;
  padding: 0 10px;
}
.reviews .button {
  display: block;
}
.reviews.single-review {
  margin-top: 15px;
}
.detail .reviews {
  border-top: 1px solid #d7d7d7;
  padding: 0 10px 24px;
}
.rating,
.stars {
  height: 12px;
}
mkt-prompt .simple-field.rating {
  margin: 0 0 50px;
}
.char-count {
  font-size: 12px;
  color: #a7a7a7;
}
.stars {
  background: url("../img/pretty/stars.svg") no-repeat;
  background-size: 130px 12px;
  display: inline-block;
  color: transparent;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  vertical-align: top;
  width: 65px;
}
[dir="rtl"] .stars {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}
.stars.stars-4 {
  background-position: -13px 0;
}
.stars.stars-3 {
  background-position: -26px 0;
}
.stars.stars-2 {
  background-position: -39px 0;
}
.stars.stars-1 {
  background-position: -52px 0;
}
.stars.stars-0 {
  background-position: -65px 0;
}
.stars.ratingwidget {
  background-size: 440px auto;
  background-position: -220px 0;
  height: 40px;
  width: 220px;
}
.stars.ratingwidget.stars-5 {
  background-position: 0 0;
}
.stars.ratingwidget.stars-4 {
  background-position: -44px 0;
}
.stars.ratingwidget.stars-3 {
  background-position: -88px 0;
}
.stars.ratingwidget.stars-2 {
  background-position: -132px 0;
}
.stars.ratingwidget.stars-1 {
  background-position: -176px 0;
}
.stars.ratingwidget label {
  height: 40px;
  width: 44px;
}
.no-rating strong {
  font-size: 12px;
  font-weight: 700;
}
.average-rating span {
  color: #424f5a;
  vertical-align: middle;
}
.average-rating span:first-child {
  padding-right: 6px;
}
.average-rating.button .stars {
  background-image: url("../img/pretty/stars_small_white.svg");
  position: relative;
  top: -1px;
}
.average-rating.button span {
  color: #fff;
}
.simple-field.rating {
  padding: 20px 10px;
}
.simple-field.rating > label {
  display: none;
}
.simple-field.rating .ratingwidget {
  margin: 0 auto;
}
.ratingwidget {
  display: block;
  float: none;
  width: 65px;
}
.ratingwidget input {
  display: none;
}
.ratingwidget label {
  cursor: pointer;
  display: block;
  float: left;
  color: transparent;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  margin: 0;
  width: 13px;
}
.ratingwidget.disabled {
  pointer-events: none;
}
.rating-label {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
mkt-prompt[data-modal="flag-review"] .reasons {
  padding-bottom: 10px;
  list-style: none;
}
mkt-prompt[data-modal="flag-review"] li {
  margin: 10px 0;
}
mkt-prompt[data-modal="flag-review"] li:first-child {
  margin-top: 0;
}
mkt-prompt[data-modal="flag-review"] form > div:last-child > button {
  width: 100%;
}
mkt-prompt[data-modal="flag-review"] a {
  display: block;
  line-height: 1.25;
  text-align: center;
}
mkt-prompt[data-modal="flag-review"] a.button {
  height: auto;
  padding: 17px 10px;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}
.reviews-listing h3 {
  color: #1a1a1a;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.reviews-listing .actions {
  float: right;
  font-size: 0;
}
.reviews-listing .loadmore {
  padding: 5px 0 15px;
}
.reviews-listing .detail-left-side {
  margin-bottom: 0;
}
.reviews-listing .review-buttons,
.reviews-listing .review-buttons li {
  margin-top: 0;
}
.review .review-has-flagged {
  display: none;
}
.review[data-review-has-flagged="true"] .review-flag {
  display: none;
}
.review[data-review-has-flagged="true"] .review-has-flagged {
  display: inline-block;
}
[data-review-is-author="true"] .review-flag {
  display: none;
}
.placeholder + section.full.reviews-listing {
  margin-top: 0;
}
@media (min-width: 700px) {
  [dir="ltr"] .review .stars {
    right: 20px;
  }
  [dir="rtl"] .review .stars {
    left: 20px;
  }
  .reviews-listing h3 {
    margin-bottom: 30px;
  }
  .reviews-listing .loadmore {
    margin-top: -30px;
  }
  [dir="ltr"] .review time {
    right: 20px;
  }
  [dir="rtl"] .review time {
    left: 20px;
  }
}
@media (min-width: 1050px) {
  .category .stars {
    display: block;
  }
  .report-spam {
    width: 331px;
    margin-left: -165px;
  }
  .report-spam button {
    width: 100%;
  }
  .reviews {
    padding: 0 15px 24px;
  }
  .reviews-listing .actions {
    float: left;
  }
  .reviews-listing .review {
    border: 0;
  }
  .reviews,
  .detail .reviews {
    padding: 0 15px 24px;
  }
  .reviews-wrapper {
    font-size: 0;
    margin: 0 -15px 24px;
    padding: 0 3px;
    position: relative;
    width: calc(unquote('100% + 30px'));
  }
  .reviews-wrapper li {
    font-size: 15px;
  }
  .review {
    display: inline-block;
    margin-bottom: 60px;
    padding: 0 12px;
    vertical-align: top;
    width: 50%;
  }
  .reviews-listing .reviews-wrapper {
    margin-bottom: 0;
  }
  .reviews-listing .loadmore {
    padding: 24px 15px 0;
  }
}
