/*
    Site-wide or structural styles ONLY. This is not your diaper.
    section.full - section that visually expands full width, with top
                   and bottom padding, and margins in between other
                   full sections.
*/
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  word-wrap: break-word;
}
body {
  background: #f1f1f1;
  color: #333;
  min-height: 300px;
  overflow-x: hidden;
  -webkit-transform-origin: 50% 400px;
      -ms-transform-origin: 50% 400px;
          transform-origin: 50% 400px;
  -webkit-transition: -webkit-transform 1s;
          transition: transform 1s;
  width: 100%;
}
#page {
  position: relative;
}
#site-header,
#page {
  min-width: 320px;
}
.main {
  margin: 0 auto;
}
.main .fragment-error {
  padding: 0;
}
section.main {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
section.main:after {
  content: '';
  display: block;
  clear: both;
}
section.full {
  background: #fff;
  max-width: 100%;
  padding: 0;
  width: 100%;
}
section.full > div {
  margin-left: auto;
  margin-right: auto;
  padding: 30px 10px;
}
section.full + section.full,
section.full + .placeholder section.full {
  margin-top: 10px;
}
.placeholder + .placeholder section.full,
.placeholder + section.full {
  margin-top: 10px;
}
section.full + section.full {
  margin-top: 10px;
}
.js-hidden {
  display: none !important;
}
.hidden {
  display: none;
}
a {
  text-decoration: none;
  color: #4cb1ff;
}
a:hover {
  text-decoration: underline;
}
a:not([href]) {
  cursor: pointer;
}
.emaillink-wrapper {
/* Necessary when emaillink is in a paragraph. */
  display: inline-block;
}
span.emaillink {
  direction: rtl;
  unicode-bidi: bidi-override;
}
span.emaillink .i {
  display: none;
}
noscript {
  background: #f1f1f1;
  display: table;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 100;
}
noscript p {
  background: url("../img/pretty/marketplace_logo.png") 50% 48% no-repeat;
  background-size: auto 60px;
  display: table-cell;
  font-weight: bold;
  height: 100%;
  padding-top: 60px;
  text-align: center;
  vertical-align: middle;
}
.row {
  clear: both;
}
.detailed-error,
.fragment-error {
  background: #fff;
}
.detailed-error {
  padding: 15px;
}
.fragment-error {
  display: block;
  padding: 15px;
}
.fragment-error b {
  display: block;
}
.error-page {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 85vh;
}
.error-page > * {
  max-width: 70%;
}
.error-page-heading {
  font-weight: 100;
  margin: 0 0 15px;
  position: relative;
}
.error-page-heading:before {
  background: url("../img/pretty/alert_triangle.svg") no-repeat 0 0/60px 60px;
  content: "";
  height: 60px;
  left: 50%;
  position: absolute;
  top: -75px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 60px;
}
#page > .overlay {
  max-width: 100%;
}
.two-up {
  width: 50%;
  float: left;
}
.two-up:nth-child(2n+1) {
  padding: 0 5px 0 0;
}
.two-up:nth-child(2n) {
  padding: 0 0 0 5px;
}
.two-up .button {
  display: block;
}
.only-logged-in,
.logged-in .only-logged-out {
  display: none;
}
.only-logged-out,
.logged-in .only-logged-in {
  display: block;
}
.spinner {
  -webkit-animation: 0.9s spin infinite steps(30);
          animation: 0.9s spin infinite steps(30);
  height: 30px;
  margin: 0 auto;
  background: url("../img/btn_spinner.png") no-repeat center;
  width: 30px;
}
.spinner.alt {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAnFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD4jUzeAAAANHRSTlMoDw0uDAsqISceLQkIKyUHFxsdHy8SDhQVGCQiJhoQLAUxChwGFikREwQgGTAjMgIDATMALVRcswAAASBJREFUeNp109eWgjAARVEVKwioFBWklyCkQf7/3yYzgRUZzHnd6z7eFZsq72GSYYzdV1WyqYlzNMhg/o9vw6xoxrQe5lWSpUIUNU2E4FDTTxaqN5TJJBcYc20lztjIMPd2ISMfsizDDlNwCiHMTKpi4LoQekzFhea6CVUy0jWtZUq2El2/qDlIkgSoGZmmGas53O/3DzW3db0qvknf/3J3PB4DomT/xfO/KI/z27KswFnOiWDWBQEKHwslRLCNUHho73Olbzoya7g6J49I7N+pZHbleiu6nEx4tv+YCSYd12vUVfHubBu7zdawS85MMPcn5+55qR73BsT+Nj+XKf28QXyNRvYE0/mJUvAcGaw3u7JnkkXU8IEH4vUmTzmO/QBhgZ0/tlb0mAAAAABJRU5ErkJggg==");
}
.spinner.btn-replace {
  left: 50%;
  margin-left: -15px;
  position: absolute;
  top: 24px;
}
.spinner.spaced {
  margin: 70px auto;
}
.spinner.padded {
  padding: 70px 0;
}
.roll {
  -webkit-animation: 0.9s spin 1 steps(30);
          animation: 0.9s spin 1 steps(30);
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
  .spinner {
    background-image: url("../img/btn_spinner_2x.png");
    background-size: 30px auto;
  }
  .spinner.alt {
    background-image: url("../img/btn_spinner_alt_2x.png");
    background-size: 30px auto;
  }
}
/* For Firefox for Android. */
input:not([disabled]):active,
select:not([disabled]):active,
textarea:not([disabled]):active,
option:active,
label:active {
  background: transparent;
}
[data-page-type=standalone-loading] > * {
  display: none !important;
}
[data-page-type=standalone-loading] #splash-overlay {
  display: block !important;
  opacity: 1 !important;
}
[data-page-type=standalone-loading] #splash-overlay .throbber {
  display: inline-block !important;
}
.hide-on-mobile {
  display: none;
}
@media (min-width: 700px) {
  .hide-on-mobile {
    display: block;
  }
  .hide-on-tablet {
    display: none !important;
  }
  html {
    background: #fff;
  }
}
@media (min-width: 1050px) {
  .hide-on-desktop {
    display: none !important;
  }
  #page {
    padding-top: 18px;
  }
  .main {
    max-width: 1070px;
  }
  section.full > div {
    padding: 30px 0;
    width: 1070px;
  }
  .container.product-details {
    margin: 50px 0;
  }
  .container.prose,
  .container.form-grid {
    padding: 25px;
  }
  section.main > div {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1100px) {
  section.main > div {
    padding-left: 0;
    padding-right: 0;
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
