.mkt-tile {
  color: #333;
  display: block;
  overflow: hidden;
  padding-top: 12px;
  position: relative;
  z-index: 1;
}
.mkt-tile:hover {
  text-decoration: none;
}
.mkt-tile .icon {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  height: 60px;
  width: 60px;
}
.mkt-tile .heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 112px;
  padding-top: 12px;
  position: relative;
}
.mkt-tile .tile-footer {
  clear: both;
  font-size: 14px;
  line-height: 20px;
  margin-left: -5px;
}
.mkt-tile .preview-container {
  height: 150px;
  margin: 0 0 -15px -10px;
  overflow: hidden;
  padding-bottom: 5px;
  width: 300px;
}
[dir="rtl"] .mkt-tile .preview-container {
  margin-right: -15px;
}
.mkt-tile .preview-container.vertical {
  height: 240px;
}
.mkt-tile .preview-container > div {
  margin-top: 5px;
}
.mkt-tile .app-tile-categories {
  color: #797979;
  font-size: 13px;
  list-style: none;
  margin-top: 2px;
}
[data-page-type~="detail"] .mkt-tile {
  padding-bottom: 10px;
  padding-top: 10px;
}
@media (min-width: 700px) {
  [data-page-type~="detail"] .mkt-tile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 240px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
    position: relative;
    margin: 0 auto;
    width: 50%;
  }
}
@media (min-width: 700px) {
  [data-page-type~="website"] .mkt-tile {
    height: auto;
    width: 75%;
  }
}
[data-content-type="website"] .preview-container {
  display: none;
}
@media (min-width: 700px) {
  [data-content-type="website"] .preview-container {
    display: block;
  }
}
.mkt-tile-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: calc(100% - 60px);
  padding-right: 10px;
}
[dir="rtl"] .mkt-tile-info {
  padding-left: 10px;
}
@media (min-width: 700px) {
  [data-page-type~="detail"] .mkt-tile-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 65px;
    max-width: none;
  }
}
.mkt-tile-info + .bad-app {
  padding-top: 8px;
}
.mkt-product-name {
  color: #222;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 200;
  line-height: 21px;
  width: 100%;
}
[data-page-type~="detail"] .mkt-product-name {
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  width: 100%;
}
@media (min-width: 700px) {
  [data-page-type~="detail"] .mkt-product-name {
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    line-height: 40px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
  }
}
[data-page-type~="website"] .mkt-product-name {
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}
.mkt-product-author {
  color: #797979;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  line-height: 18px;
  margin-top: 5px;
  width: 100%;
}
[data-page-type~="detail"] .mkt-product-author {
  padding-left: 1px;
  width: auto;
}
@media (min-width: 700px) {
  [data-page-type~="detail"] .mkt-product-author {
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    max-width: 410px;
    width: 100%;
  }
}
.detail .bad-app {
  padding: 14px 0 10px;
}
.detail .icon {
  height: 64px;
  width: 64px;
}
[dir="ltr"] .detail .rating-link .long {
  margin-left: 12px;
}
[dir="rtl"] .detail .rating-link .long {
  margin-right: 12px;
}
[dir="ltr"] .detail .unrated .long {
  margin-left: 0;
}
[dir="rtl"] .detail .unrated .long {
  margin-right: 0;
}
.mkt-app-rating {
  color: #0099d0;
  display: inline-block;
  font-size: 12px;
  padding: 8px 0 16px;
}
[data-page-type~="detail"] .mkt-app-rating {
  margin-bottom: 2px;
  padding-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 700px) {
  [data-page-type~="detail"] .mkt-app-rating {
    font-weight: 300;
    font-size: 20px;
  }
  [dir="ltr"] [data-page-type~="detail"] .mkt-app-rating {
    margin-right: auto;
  }
  [dir="rtl"] [data-page-type~="detail"] .mkt-app-rating {
    margin-left: auto;
  }
}
.mkt-app-rating a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}
@media (min-width: 700px) {
  .mkt-app-rating a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
[dir="rtl"] .mkt-app-rating a {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.mkt-app-rating a:hover .cnt {
  text-decoration: underline;
}
.mkt-app-rating .cnt {
  position: relative;
}
.mkt-app-rating.unrated,
.mkt-app-rating.unrated a {
  color: #a7a7a7;
}
.app-header .works-offline {
  background: url("../img/pretty/no-connection.svg") 0 10px no-repeat;
  background-size: auto 18px;
  display: block;
  font-size: 12px;
  line-height: 20px; /* 18px for icon height + 2px for alignment */
  padding: 10px 10px 0 34px; /* 34px = 24px for icon width + 10px padding */
}
.app-header .bad-app {
  color: #800;
  display: block;
  font-size: 11px;
  line-height: 12px;
}
.mkt-tile[data-type] > .info {
  padding-left: 0;
  position: static;
}
.feed-layout-list .mkt-tile {
  margin-bottom: 10px;
}
.mkt-product-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media (min-width: 700px) {
  [data-page-type~="detail"] .mkt-product-heading {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
  }
}
.mkt-tile.langpack {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.mkt-tile.langpack h3 {
  display: inline;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
     -moz-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  overflow: visible;
  white-space: normal;
}
@media (min-width: 700px) {
  .mkt-product-name {
    top: 75px;
  }
  [dir="ltr"] .detail .rating-link .long {
    margin-left: 0;
  }
  .detail .mkt-tile .info {
    width: 100%;
  }
}
@media (min-width: 1050px) {
  .mkt-tile .rating .cnt {
    top: 1px;
  }
  .detail .mkt-tile {
    padding: 15px;
  }
  .detail .mkt-tile .heading,
  .detail .mkt-tile .info {
    height: 64px;
  }
  [data-page-type~="website"] .detail .mkt-tile .heading,
  [data-page-type~="website"] .detail .mkt-tile .info {
    height: auto;
  }
  .detail .mkt-tile .info {
    padding-left: 74px;
  }
}
