@font-face {
  src: local('FiraSansOTLight'), local('FiraSansLight'), local('Fira Sans OT Light'), local('Fira Sans Light'), url("../fonts/FiraSans/firasansot-light-webfont.woff") format('woff'), url("../fonts/FiraSans/firasansot-light-webfont.ttf") format('truetype'), url("../fonts/FiraSans/firasansot-light-webfont.svg#fira_sans_otlight") format('svg');
  font-family: FiraSansWeb;
  font-weight: 300;
}
@font-face {
  src: local('FiraSansOT'), local('FiraSans'), local('Fira Sans OT'), local('Fira Sans'), url("../fonts/FiraSans/firasansot-regular-webfont.woff") format('woff'), url("../fonts/FiraSans/firasansot-regular-webfont.ttf") format('truetype'), url("../fonts/FiraSans/firasansot-regular-webfont.svg#fira_sans_otregular") format('svg');
  font-family: FiraSansWeb;
  font-weight: 400;
}
@font-face {
  src: local('FiraSansOTMedium'), local('FiraSansMedium'), local('Fira Sans OT Medium'), local('Fira Sans Medium'), url("../fonts/FiraSans/firasansot-medium-webfont.woff") format('woff'), url("../fonts/FiraSans/firasansot-medium-webfont.ttf") format('truetype'), url("../fonts/FiraSans/firasansot-medium-webfont.svg#fira_sans_otregular") format('svg');
  font-family: FiraSansWeb;
  font-weight: 500;
}
@font-face {
/* Yes, the PostScript name contains a hyphen. Not a typo. */
  src: local('FiraSansOT-Bold'), local('FiraSans-Bold'), local('Fira Sans OT Bold'), local('Fira Sans Bold'), url("../fonts/FiraSans/firasansot-bold-webfont.woff") format('woff'), url("../fonts/FiraSans/firasansot-bold-webfont.ttf") format('truetype'), url("../fonts/FiraSans/firasansot-bold-webfont.svg#fira_sans_otbold") format('svg');
  font-family: FiraSansWeb;
  font-weight: 600;
}
body {
  color: #1a1a1a;
  font: 15px "Fira Sans OT", "Fira Sans", FiraSansWeb, sans-serif;
}
body,
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
h1 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
}
h2,
h3 {
  color: #797979;
}
h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
}
h3 {
  font-size: 15px;
  line-height: 15px;
}
h4 {
  font-size: 16px;
}
address {
  color: #666;
  font-style: normal;
}
dl {
  margin: 0;
}
dt {
  font-weight: 600;
}
dd {
  color: #666;
  margin: 0 0 10px;
}
.back-to-app {
  display: none;
}
.back-to-app:before {
  content: "\2039";
  display: inline-block;
  font-size: 28px;
  font-weight: 300;
  position: relative;
  top: 3px;
}
[dir="ltr"] .back-to-app:before {
  margin-right: 10px;
}
[dir="rtl"] .back-to-app:before {
  margin-left: 10px;
}
.prose {
  color: #1a1a1a;
}
.prose h3,
.prose h4 {
  font-weight: 500;
}
.prose h3 {
  color: #333;
  font-size: 24px;
  line-height: 28px;
}
.prose h4 {
  color: #1a1a1a;
  font-size: 18px;
  line-height: 24px;
}
.prose blockquote,
.prose dl,
.prose h3,
.prose h4,
.prose p {
  margin: 15px 0;
}
.prose :first-child {
  margin-top: 0;
}
.prose :last-child {
  margin-bottom: 0;
}
.prose dl,
.prose ol,
.prose ul {
  margin-bottom: 15px;
  margin-left: 24px;
}
.prose address,
.prose blockquote {
  margin: 0 24px;
}
.island.prose {
  border-radius: 5px;
  margin: 10px;
  padding: 15px 10px;
}
@media (min-width: 700px) {
  .back-to-app {
    display: inline-block;
  }
  h1 {
    font-size: 30px;
  }
}
@media (min-width: 1050px) {
  h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
  }
  article {
    border-radius: 10px;
    margin: 48px 0 0;
    padding: 18px 15px;
  }
  .island.prose {
    padding: 24px;
  }
  .prose dl,
  .prose ol,
  .prose ul {
    margin-left: 15px;
  }
  .prose address,
  .prose blockquote {
    margin: 0 48px;
  }
}
