/* The content ratings section of the app detail page. */
.content-ratings-wrapper .icon {
  border-radius: 5px;
  display: inline-block;
  height: auto;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  width: 36px;
}
.content-ratings-wrapper .content-rating .icon {
  width: 48px;
}
.content-ratings-wrapper .infobox-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 0;
}
[dir="rtl"] .content-ratings-wrapper .infobox-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.content-ratings-button-wrap {
  padding-top: 24px;
}
.content-ratings-button-wrap .button {
  display: block;
}
.content-rating,
.content-descriptors,
.rating-description {
  float: left;
}
.content-ratings-left,
.content-ratings-right {
  max-width: 50%;
}
[dir="rtl"] .content-ratings-left {
  padding-left: 10px;
}
[dir="rtl"] .content-ratings-right {
  max-width: 210px;
  width: 210px;
}
.content-ratings-left .content-rating {
  margin-right: 10px;
  max-width: 48px;
}
.content-ratings-left .content-descriptors,
.content-ratings-left .rating-description {
  max-width: calc(unquote('100% - 58px'));
}
.content-ratings .content-rating {
  color: #424f5a;
  display: table;
}
.content-ratings .content-rating .icon {
  float: left;
  margin-bottom: 5px;
}
.content-ratings .content-rating .icon-body-pegi {
  border-radius: 0;
}
.content-ratings .content-rating .icon-body-usk {
  border-radius: 8px;
}
.content-descriptors.text li,
.rating-description,
.interactive-elements.text p {
  color: #797979;
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
  margin: 0 0 5px;
}
.content-descriptors.icons,
.interactive-elements {
  border-left: 1px solid #eee;
  margin-bottom: 15px;
  padding-left: 10px;
  position: relative;
}
.content-descriptors.icons .icon,
.interactive-elements .icon {
  display: inline-block;
  margin: 0 4px 8px 0;
}
.content-ratings-right {
  left: 12px;
  position: relative;
}
.classind .content-ratings-left,
.classind .content-descriptors {
  max-width: none;
}
.content-descriptors.text li,
.interactive-elements.text p {
  display: block;
}
.usk .content-ratings-right {
  left: 0;
}
.content-ratings-wrapper {
  margin-top: -15px;
}
#content-ratings-header {
  text-transform: none;
  width: 100%;
}
@media (min-width: 700px) {
  .content-ratings-wrapper {
    margin-top: 0;
  }
  #content-ratings-header {
    text-transform: uppercase;
  }
  [dir="rtl"] .content-ratings-right {
    width: 220px;
  }
}
