/*
    The header section at the top of the app detail page, featuring the app
    tile.
*/
[data-page-type~="website"] .mkt-tile {
  height: auto;
}
[data-page-type~="website"] .mkt-app-button {
  margin: 0 auto;
}
[data-page-type~="website"] .app-notices {
  display: none;
}
.website-header.full,
.app-header.full {
  margin-bottom: -10px;
  padding-bottom: 0;
}
.website-header.full > div,
.app-header.full > div {
  padding-bottom: 0;
  padding-top: 0;
}
.website-header.full {
  background-color: #fff;
  min-height: auto;
}
@media (min-width: 700px) {
  [data-page-type~="website"] .website-header.full {
    padding-bottom: 30px;
  }
}
[data-page-type~="detail"] .app-notices {
  border-top: 1px solid #f1f1f1;
  margin-top: 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
[data-page-type~="detail"] .app-notices > span {
  background: #4cb1ff;
  border-radius: 100px;
  color: #fff;
  display: inline-block;
  font-weight: 300;
  margin: 5px;
  padding: 8px 15px;
}
[data-page-type~="detail"] .app-notices > span.positive {
  background: #64be3c;
}
[data-page-type~="detail"] .app-notices > span.negative {
  background: #f54b3c;
}
[data-page-type~="detail"] .button.install {
  padding: 0;
}
[data-page-type~="detail"] .button.install.spinning,
[data-page-type~="detail"] .button.install.purchasing {
  bottom: -8px;
}
@media (min-width: 700px) {
  [data-page-type~="detail"] .subheader {
    display: block;
  }
  [data-page-type~="detail"] .detail,
  [data-page-type~="detail"] .main,
  [data-page-type~="detail"] .mkt-tile {
    overflow: visible;
  }
  [data-page-type~="detail"] .heading {
    margin-bottom: 70px;
  }
  [data-page-type~="detail"] .mkt-tile .icon {
    height: 128px;
    left: 0;
    margin: 0 auto;
    right: 0;
    position: absolute;
    text-align: center;
    top: -64px;
    width: 128px;
  }
  [data-page-type~="detail"] .mkt-tile .info {
    padding: 0;
    position: relative;
  }
  [data-page-type~="detail"] .mkt-tile .cnt {
    margin: 0 10px 0 0;
  }
  [dir="rtl"] [data-page-type~="detail"] .mkt-tile .cnt {
    margin: 0 0 0 10px;
  }
  [data-page-type~="detail"] .button.install {
    height: 36px;
  }
  [data-page-type~="detail"] .button.install.spinning,
  [data-page-type~="detail"] .button.install.purchasing {
    bottom: auto;
  }
  [data-page-type~="detail"] .button.install em {
    font-size: 15px;
    height: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1050px) {
  [data-page-type~="detail"] .mkt-tile .stars {
    position: relative;
    top: 4px;
  }
}
