/*
    The info section below the reviews section, featuring detailed app
    information (category, package size) and content ratings.
*/
.app-more-metadata {
  font-size: 0;
  margin: 0 -12px;
}
.app-more-metadata dl {
  display: inline-block;
  padding: 0 12px;
  vertical-align: top;
  width: 50%;
}
.app-more-metadata dl:last-child dd:last-child {
  margin-bottom: 0;
}
.app-more-metadata dt {
  color: #1a1a1a;
  line-height: 22px;
  font-size: 15px;
  font-weight: 300;
  font-weight: 400;
  margin-bottom: 10px;
}
.app-more-metadata dd {
  display: inline-block;
  max-width: 100%;
  color: #1a1a1a;
  line-height: 22px;
  font-size: 15px;
  font-weight: 300;
}
[dir="ltr"] .app-more-metadata dd {
  margin-right: 3px;
}
[dir="rtl"] .app-more-metadata dd {
  margin-left: 3px;
}
.app-more-metadata dd:last-child {
  margin-bottom: 30px;
}
.app-more-metadata dd:not(:last-child):after {
  content: attr(data-delimiter);
  display: inline-block;
}
