/*
    Stylesheet for the upsell section of the app detail page.
*/
.upsell:hover {
  text-decoration: none;
}
.upsell img {
  display: inline-block;
  height: 64px;
  margin-right: 10px;
  width: 64px;
}
.upsell span {
  color: #1a1a1a;
  color: #1a1a1a;
  line-height: 22px;
  font-size: 15px;
  font-weight: 300;
  vertical-align: top;
}
