/*
    Stylesheet for collections. Landing styles are also used by shelves.
*/
.collection-listing-header {
  display: block;
  height: 48px;
  padding-top: 30px;
  position: relative;
  text-align: center;
}
.collection-listing-header:hover {
  text-decoration: none;
}
.collection-listing-header h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
.collection-listing-desc {
  color: #1a1a1a;
  line-height: 22px;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 10px;
  text-align: center;
}
[data-feed-landing-is-coll-listing] .feed-landing-apps {
  margin-top: 30px;
}
.feed-landing-header .collection-listing-desc {
  padding: 10px 10px 0;
}
.feed-home .collection-listing-header {
  bottom: 15px;
  right: 10px;
  width: calc(100% + 20px);
}
[dir="rtl"] .feed-home .collection-listing-header {
  left: 10px;
  right: inherit;
}
.feed-collection-listing .desc {
  margin-top: 0;
  padding: 5px 0 10px;
  color: #1a1a1a;
  line-height: 22px;
  font-size: 15px;
  font-weight: 300;
}
.collection-group-header {
  color: #1a1a1a;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 30px;
}
.feed-landing-header-mobile .feed-collection {
  display: block;
  margin: 0 auto;
}
.feed-landing-header-mobile .feed-item {
  width: 100%;
}
.feed-landing-header-mobile .feed-item-info {
  width: 100%;
}
[data-feed-landing-is-coll-promo]. .feed-landing-header-mobile,
[data-shelf-landing] .feed-landing-header-mobile {
  padding: 10px 0;
}
