/*
    Colors for the feed.
*/
[data-feed-landing-color] h1,
[data-shelf-landing-carrier] h1,
[data-feed-landing-color] .feed-landing-description,
[data-shelf-landing-carrier] .feed-landing-description {
  color: #fff;
}
[data-feed-landing-color="amber"] .brand-landing-icon {
  background-color: #cc440d;
}
[data-feed-landing-color="amber"] .brand-landing-curve {
  background-color: rgba(204,68,13,0.75);
}
[data-feed-landing-color="amber"] .brand-landing-curve:after {
  background-color: rgba(204,68,13,0.55);
  bottom: -45px;
  content: "";
  height: 45px;
  left: 0;
  position: absolute;
  width: 100%;
}
[data-feed-landing-color="amber"] .feed-landing-header {
  background-color: rgba(204,68,13,0.55);
}
[data-feed-landing-color="amber"] .feed-curve {
  background-color: #cc440d;
}
[data-feed-landing-color="garnet"] .brand-landing-icon {
  background-color: #c38;
}
[data-feed-landing-color="garnet"] .brand-landing-curve {
  background-color: rgba(204,51,136,0.75);
}
[data-feed-landing-color="garnet"] .brand-landing-curve:after {
  background-color: rgba(204,51,136,0.55);
  bottom: -45px;
  content: "";
  height: 45px;
  left: 0;
  position: absolute;
  width: 100%;
}
[data-feed-landing-color="garnet"] .feed-landing-header {
  background-color: rgba(204,51,136,0.55);
}
[data-feed-landing-color="garnet"] .feed-curve {
  background-color: #c38;
}
[data-feed-landing-color="topaz"] .brand-landing-icon {
  background-color: #ffb300;
}
[data-feed-landing-color="topaz"] .brand-landing-curve {
  background-color: rgba(255,179,0,0.75);
}
[data-feed-landing-color="topaz"] .brand-landing-curve:after {
  background-color: rgba(255,179,0,0.55);
  bottom: -45px;
  content: "";
  height: 45px;
  left: 0;
  position: absolute;
  width: 100%;
}
[data-feed-landing-color="topaz"] .feed-landing-header {
  background-color: rgba(255,179,0,0.55);
}
[data-feed-landing-color="topaz"] .feed-curve {
  background-color: #ffb300;
}
[data-feed-landing-color="amethyst"] .brand-landing-icon {
  background-color: #7a3675;
}
[data-feed-landing-color="amethyst"] .brand-landing-curve {
  background-color: rgba(122,54,117,0.75);
}
[data-feed-landing-color="amethyst"] .brand-landing-curve:after {
  background-color: rgba(122,54,117,0.55);
  bottom: -45px;
  content: "";
  height: 45px;
  left: 0;
  position: absolute;
  width: 100%;
}
[data-feed-landing-color="amethyst"] .feed-landing-header {
  background-color: rgba(122,54,117,0.55);
}
[data-feed-landing-color="amethyst"] .feed-curve {
  background-color: #7a3675;
}
[data-feed-landing-color="sapphire"] .brand-landing-icon {
  background-color: #2d457e;
}
[data-feed-landing-color="sapphire"] .brand-landing-curve {
  background-color: rgba(45,69,126,0.75);
}
[data-feed-landing-color="sapphire"] .brand-landing-curve:after {
  background-color: rgba(45,69,126,0.55);
  bottom: -45px;
  content: "";
  height: 45px;
  left: 0;
  position: absolute;
  width: 100%;
}
[data-feed-landing-color="sapphire"] .feed-landing-header {
  background-color: rgba(45,69,126,0.55);
}
[data-feed-landing-color="sapphire"] .feed-curve {
  background-color: #2d457e;
}
[data-feed-landing-color="emerald"] .brand-landing-icon {
  background-color: #1b8215;
}
[data-feed-landing-color="emerald"] .brand-landing-curve {
  background-color: rgba(27,130,21,0.75);
}
[data-feed-landing-color="emerald"] .brand-landing-curve:after {
  background-color: rgba(27,130,21,0.55);
  bottom: -45px;
  content: "";
  height: 45px;
  left: 0;
  position: absolute;
  width: 100%;
}
[data-feed-landing-color="emerald"] .feed-landing-header {
  background-color: rgba(27,130,21,0.55);
}
[data-feed-landing-color="emerald"] .feed-curve {
  background-color: #1b8215;
}
[data-feed-landing-color="ruby"] .brand-landing-icon {
  background-color: #c93333;
}
[data-feed-landing-color="ruby"] .brand-landing-curve {
  background-color: rgba(201,51,51,0.75);
}
[data-feed-landing-color="ruby"] .brand-landing-curve:after {
  background-color: rgba(201,51,51,0.55);
  bottom: -45px;
  content: "";
  height: 45px;
  left: 0;
  position: absolute;
  width: 100%;
}
[data-feed-landing-color="ruby"] .feed-landing-header {
  background-color: rgba(201,51,51,0.55);
}
[data-feed-landing-color="ruby"] .feed-curve {
  background-color: #c93333;
}
[data-feed-landing-color="aquamarine"] .brand-landing-icon {
  background-color: #197b99;
}
[data-feed-landing-color="aquamarine"] .brand-landing-curve {
  background-color: rgba(25,123,153,0.75);
}
[data-feed-landing-color="aquamarine"] .brand-landing-curve:after {
  background-color: rgba(25,123,153,0.55);
  bottom: -45px;
  content: "";
  height: 45px;
  left: 0;
  position: absolute;
  width: 100%;
}
[data-feed-landing-color="aquamarine"] .feed-landing-header {
  background-color: rgba(25,123,153,0.55);
}
[data-feed-landing-color="aquamarine"] .feed-curve {
  background-color: #197b99;
}
[data-feed-color="amber"] {
  background: #cc440d;
}
[data-feed-color="amber"]:active {
  background: #cc440d;
}
[data-feed-color="garnet"] {
  background: #c38;
}
[data-feed-color="garnet"]:active {
  background: #c38;
}
[data-feed-color="topaz"] {
  background: #ffb300;
}
[data-feed-color="topaz"]:active {
  background: #ffb300;
}
[data-feed-color="amethyst"] {
  background: #7a3675;
}
[data-feed-color="amethyst"]:active {
  background: #7a3675;
}
[data-feed-color="sapphire"] {
  background: #2d457e;
}
[data-feed-color="sapphire"]:active {
  background: #2d457e;
}
[data-feed-color="emerald"] {
  background: #1b8215;
}
[data-feed-color="emerald"]:active {
  background: #1b8215;
}
[data-feed-color="ruby"] {
  background: #c93333;
}
[data-feed-color="ruby"]:active {
  background: #c93333;
}
[data-feed-color="aquamarine"] {
  background: #197b99;
}
[data-feed-color="aquamarine"]:active {
  background: #197b99;
}
