/*
    Stylesheet for curves featured in Feed tiles and landing pages.
*/
.feed-landing-curve {
  background: #fafafa;
  border-radius: 50% 50% 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -45px;
  padding-bottom: 40px;
  width: 120%;
  z-index: -1;
}
