/*
    Miscellaneous Feed styles leftover from the first iteration of the Feed.
    Ideally, to be split out into more modularized components.
*/
.feed-item-item {
  margin: 0 auto 15px auto;
  max-width: 300px;
  right: 0;
  width: 300px;
}
.feed-item-item > section {
  padding: 15px 10px;
}
.feed-item-item > a {
  text-decoration: none;
}
.feed {
  list-style-type: none;
  margin: 0 auto;
  position: relative;
  -webkit-transition: opacity 0.2s 0.15s;
          transition: opacity 0.2s 0.15s;
  width: 100%;
}
.feed .price {
  display: none;
}
.feed .group-subheader {
  margin-bottom: 18px;
}
[data-page-type~="leaf"] .feed .mkt-tile {
  margin-bottom: 10px;
}
.app-link {
  height: 100%;
  position: relative;
  width: 100%;
}
.feed-app {
  margin-bottom: 0;
  padding: 20px 15px 10px;
  position: relative;
  max-width: 100%;
}
.feed-app,
.feed-app:active {
  background-color: #fff;
}
.feed-app .heading {
  margin-bottom: 10px;
}
.feed-app .desc {
  color: #1a1a1a;
  line-height: 22px;
  font-size: 15px;
  font-weight: 300;
  background-color: #fff;
  font-weight: 400;
  margin-top: 15px;
}
.feed-app blockquote {
  line-height: 23px;
  margin: 0;
  padding: 0 10px;
  text-align: center;
}
.feed-app .quote-source {
  font-size: 11px;
  margin-top: 5px;
  text-align: center;
}
.feed-app .quote {
  color: #fff;
  left: -10px;
  padding: 5px 0 15px;
  position: relative;
  top: 15px;
  width: 300px;
}
[dir="rtl"] .feed-app .quote {
  left: 15px;
}
.feed-app .preview .desc {
  margin-bottom: 10px;
  margin-top: 10px;
}
.feed-app .preview .feed-app-preview-container {
  overflow: hidden;
  margin: 15px 0 -16px -10px;
  height: 150px;
  width: 300px;
}
.feed-app .preview .feed-app-preview-container.vertical {
  height: 240px;
}
.tile-footer {
  clear: both;
  font-size: 14px;
  line-height: 20px;
}
.tile-footer .stars {
  left: 50%;
  margin: 15px 0 10px -32px;
  position: relative;
}
.feed-app-preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(100% - 10px);
  margin-top: 5px;
  width: 100%;
}
.feed-view-all-tab.view-all-tab {
  display: block;
  margin: 18px auto 5px;
}
.multi-app-tile {
  background-color: #fff;
  margin: 0 auto;
  max-width: 300px;
}
.multi-app-tile.grouped {
  margin-bottom: 15px;
}
.multi-app-tile .app-list {
  clear: both;
  display: inline-block;
  list-style-type: none;
  width: 100%;
}
.feed-item {
  background-size: cover;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 300px;
}
.feed-item img {
  color: #fff;
}
.feed-item .app-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 50%;
  position: absolute;
  top: 15px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 220px;
  z-index: 15;
}
.feed-item .app-icons li {
  display: inline-block;
  height: 60px;
  width: 60px;
}
.feed-item .app-icons li:last-child {
  margin-right: 0;
}
.feed-item .app-icons + .feed-item-curve {
  height: 60px;
  top: 30px;
}
.feed-item .app-icons.single {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feed-item.has-desc .feed-item-curve {
  height: 60px;
  top: 75px;
}
.feed-item .app-icons + .feed-item-curve {
  top: 30px;
}
.feed-item-info {
  margin-top: 90px;
  padding: 0 10px 20px;
  position: relative;
  text-align: center;
  width: 300px;
  z-index: 10;
}
.feed-item-author {
  line-height: 18px;
}
.feed-item-name {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}
.feed-item-name,
.feed-item-author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  top: 8px;
}
.app-icons ~ .feed-item-info .feed-item-name,
.app-icons ~ .feed-item-info .feed-item-author {
  top: 0;
}
.feed-item-author,
.feed-item-desc {
  color: #fff;
  line-height: 22px;
  font-size: 15px;
  font-weight: 300;
}
.feed-item-desc {
  margin-top: 20px;
}
.feed-item-mask {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 5;
}
.feed-item-curve {
  border-radius: 50% 50% 0 0;
  height: 80px;
  left: -50px;
  position: absolute;
  top: 80px;
  width: 400px;
  z-index: 10;
}
.feed-item-mask + .feed-item-curve {
  top: 75px;
}
.featured-app .feed-item-author {
  font-size: 12px;
}
.shelf .feed-item-name {
  padding: 0 10px;
  text-align: center;
  top: 0;
}
[data-feed-app-has-background]:not([data-feed-app-type-icon]) .info {
  margin-top: 83px;
}
section.full.feed-item {
  background-size: cover;
}
.app-link:hover,
.app-link:active {
  text-decoration: none;
}
@media (min-width: 360px) {
  .feed-item-curve {
    left: -15%;
    width: 130%;
  }
}
