/*
    Stylesheet for operator shelves.
*/
.shelf.shelf-landing {
  height: 150px;
}
.shelf.shelf-landing .curve {
  height: 70px;
  top: 80px;
}
.shelf.shelf-landing .info {
  bottom: -45px;
}
.shelf {
  height: 90px;
}
.shelf .feed-item-curve {
  background-color: rgba(0,152,207,0.55);
  top: 50px;
}
.shelf .info {
  position: relative;
  margin-top: 60px;
  z-index: 15;
}
.feed-landing-header-mobile .shelf .feed-item-curve {
  top: 80px;
}
[data-carrier="telefonica"] .feed-item-curve {
  background: rgba(0,50,69,0.55);
}
[data-carrier="telefonica"] .feed-landing-header-mobile .curve {
  background: rgba(0,50,69,0.85);
}
[data-carrier="telefonica"][data-region=br] .feed-item-curve {
  background: rgba(255,153,0,0.55);
}
[data-carrier="telefonica"][data-region=br] .feed-landing-header-mobile .curve {
  background: rgba(255,153,0,0.85);
}
[data-carrier="o2"] .feed-item-curve {
  background: rgba(0,0,102,0.55);
}
[data-carrier="o2"] .feed-landing-header-mobile .curve {
  background: rgba(0,0,102,0.85);
}
[data-carrier="telenor"] .feed-item-curve {
  background: rgba(0,172,231,0.55);
}
[data-carrier="telenor"] .feed-landing-header-mobile .curve {
  background: rgba(0,172,231,0.85);
}
[data-carrier="grameenphone"] .feed-item-curve {
  background: rgba(0,172,231,0.55);
}
[data-carrier="grameenphone"] .feed-landing-header-mobile .curve {
  background: rgba(0,172,231,0.85);
}
[data-carrier="deutsche_telekom"] .feed-item-curve {
  background: rgba(226,0,116,0.55);
}
[data-carrier="deutsche_telekom"] .feed-landing-header-mobile .curve {
  background: rgba(226,0,116,0.85);
}
[data-carrier="kddi"] .feed-item-curve {
  background: rgba(227,82,5,0.55);
}
[data-carrier="kddi"] .feed-landing-header-mobile .curve {
  background: rgba(227,82,5,0.85);
}
[data-carrier="mtn"] .feed-item-curve {
  background: rgba(205,103,35,0.55);
}
[data-carrier="mtn"] .feed-landing-header-mobile .curve {
  background: rgba(205,103,35,0.85);
}
[data-shelf-landing] .feed-landing-header {
  background-color: rgba(0,152,207,0.55);
}
[data-shelf-landing] .feed-curve {
  background-color: #0098cf;
}
[data-shelf-landing-carrier="telefonica"] .feed-landing-header {
  background-color: rgba(0,50,69,0.55);
}
[data-shelf-landing-carrier="telefonica"] .feed-curve {
  background-color: #003245;
}
[data-shelf-landing-carrier="telefonica"][data-shelf-landing-region=br] .feed-landing-header {
  background-color: rgba(255,153,0,0.55);
}
[data-shelf-landing-carrier="telefonica"][data-shelf-landing-region=br] .feed-curve {
  background-color: #f90;
}
[data-shelf-landing-carrier="o2"] .feed-landing-header {
  background-color: rgba(0,0,102,0.55);
}
[data-shelf-landing-carrier="o2"] .feed-curve {
  background-color: #006;
}
[data-shelf-landing-carrier="telenor"] .feed-landing-header {
  background-color: rgba(0,172,231,0.55);
}
[data-shelf-landing-carrier="telenor"] .feed-curve {
  background-color: #00ace7;
}
[data-shelf-landing-carrier="grameenphone"] .feed-landing-header {
  background-color: rgba(0,172,231,0.55);
}
[data-shelf-landing-carrier="grameenphone"] .feed-curve {
  background-color: #00ace7;
}
[data-shelf-landing-carrier="deutsche_telekom"] .feed-landing-header {
  background-color: rgba(226,0,116,0.55);
}
[data-shelf-landing-carrier="deutsche_telekom"] .feed-curve {
  background-color: #e20074;
}
[data-shelf-landing-carrier="kddi"] .feed-landing-header {
  background-color: rgba(227,82,5,0.55);
}
[data-shelf-landing-carrier="kddi"] .feed-curve {
  background-color: #e35205;
}
[data-shelf-landing-carrier="mtn"] .feed-landing-header {
  background-color: rgba(205,103,35,0.55);
}
[data-shelf-landing-carrier="mtn"] .feed-curve {
  background-color: #cd6723;
}
@media (min-width: 700px) {
  [data-shelf-landing-carrier="telefonica"] .feed-landing-header {
    padding: 0;
  }
  [data-shelf-landing-carrier="telefonica"] .feed-landing-curve {
    border-radius: 0;
    padding: 40px 0;
  }
  [data-shelf-landing-carrier="telefonica"] .feed-landing-header-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    width: 320px;
  }
}
