[data-page-type~="games"] #page {
  padding-top: 0;
}
[data-page-type~="games"] #incompatibility-banner {
  display: none;
}
.games-title {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #006dbf;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  padding: 20px 0;
  width: 100%;
}
.games-title h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 700px) {
  .games-title h1 {
    font-size: 30px;
  }
}
.game {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px;
  position: relative;
}
.game > a {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
}
.game > a:hover {
  text-decoration: none;
}
.game:nth-child(8n) .game-gradient {
  background: -webkit-linear-gradient(top, #090, #003600);
  background: linear-gradient(to bottom, #090, #003600);
}
.game:nth-child(8n + 1) .game-gradient {
  background: -webkit-linear-gradient(top, #ffb300, #573d00);
  background: linear-gradient(to bottom, #ffb300, #573d00);
}
.game:nth-child(8n + 2) .game-gradient {
  background: -webkit-linear-gradient(top, #0092ff, #001d48);
  background: linear-gradient(to bottom, #0092ff, #001d48);
}
.game:nth-child(8n + 3) .game-gradient {
  background: -webkit-linear-gradient(top, #c93333, #410000);
  background: linear-gradient(to bottom, #c93333, #410000);
}
.game:nth-child(8n + 4) .game-gradient {
  background: -webkit-linear-gradient(top, #c38, #541538);
  background: linear-gradient(to bottom, #c38, #541538);
}
.game:nth-child(8n + 5) .game-gradient {
  background: -webkit-linear-gradient(top, #197b99, #07262f);
  background: linear-gradient(to bottom, #197b99, #07262f);
}
.game:nth-child(8n + 6) .game-gradient {
  background: -webkit-linear-gradient(top, #cc440d, #511b06);
  background: linear-gradient(to bottom, #cc440d, #511b06);
}
.game:nth-child(8n + 7) .game-gradient {
  background: -webkit-linear-gradient(top, #7a3675, #251023);
  background: linear-gradient(to bottom, #7a3675, #251023);
}
.game-gradient,
.game-overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.game-gradient {
  background: -webkit-linear-gradient(top, #090, #003600);
  background: linear-gradient(to bottom, #090, #003600);
  display: block;
  opacity: 0.8;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
  z-index: 1;
}
.games-home-primary-main:hover .game-gradient,
.game:hover .game-gradient {
  opacity: 0.9;
}
.game-overlay {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
  z-index: 3;
}
.games-home-primary-main:hover .game-overlay,
.game:hover .game-overlay {
  opacity: 1;
}
.game-overlay-category {
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0;
  text-transform: uppercase;
}
.game-overlay-icon {
  height: 64px;
  margin-bottom: 10px;
  width: 64px;
}
.games-listing .game-overlay-icon {
  display: none;
}
.game-overlay-info-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.game-overlay-name {
  text-transform: uppercase;
}
.game-overlay-name,
.game-overlay-developer {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  max-width: 90%;
}
.game-overlay-name span,
.game-overlay-developer span {
  font-weight: 300;
}
.game-overlay .mkt-app-button {
  height: auto;
}
.game-overlay .mkt-app-button em {
  border: 2px solid #fff;
  border-radius: 2px;
  font-style: italic;
  height: 30px;
  margin: 20px 0;
}
.game-name {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  max-width: 90%;
  opacity: 1;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s;
  z-index: 2;
}
.games-home-primary-main:hover .game-name,
.game:hover .game-name {
  opacity: 0;
}
